.homeScreen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 30px;
   
}

.startMenu {
    background-color: #1fc559;
    width: fit-content;
    border-radius: 15px;
    margin-top: 50px;
    padding: 20px;
}

button {
    font-family: 'Open Sans', sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #1f1f1f;
    border-radius: 10px;
    transition: color 0.2s;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
  }



button:hover {
    color: #1fc559
}