
  <!-- Also add conditions to buttons to look pressed based on variable. Do 3 ngifs also based on showLeaderboard (EX: easy button looks pressed if showLeaderboard=easy) -->
  <div class="leaderboard-switches">
      <button (click)="changeEasy()">Easy</button>
      <button (click)="changeMedium()">Medium</button>
      <button (click)="changeHard()">Hard</button>
   </div>
  <!-- EASY -->
  <div *ngIf="showLeaderboard === 'easy'" class="leaderboard-container easy-leaderboard">
    <h1 class="title">Leaderboard - Easy</h1>
    <div class="title-underline"></div> 
    <ul class="leaderboard-list">
      <li class="leaderboard-list-item" *ngFor="let player of easyLeaderboard">
        {{ player.name }} 
        
       <div class="leaderboard-list-score"> Score: {{ player.score }}</div>
      </li>
    </ul>
  </div>

    <!-- MEDIUM -->
  <div *ngIf="showLeaderboard === 'medium'" class="leaderboard-container medium-leaderboard">
    <h1 class="title">Leaderboard - Medium</h1>
    <div class="title-underline"></div> 
    <ul class="leaderboard-list">
      <li class="leaderboard-list-item" *ngFor="let player of mediumLeaderboard">
        {{ player.name }} 
        
       <div class="leaderboard-list-score"> Score: {{ player.score }}</div>
      </li>
    </ul>
  </div>

    <!-- HARD -->
  <div *ngIf="showLeaderboard === 'hard'" class="leaderboard-container hard-leaderboard">
    <h1 class="title">Leaderboard - Hard</h1>
    <div class="title-underline"></div> 
    <ul class="leaderboard-list">
      <li class="leaderboard-list-item" *ngFor="let player of hardLeaderboard">
        {{ player.name }} 
        
       <div class="leaderboard-list-score"> Score: {{ player.score }}</div>
      </li>
    </ul>
  </div>
  