.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 85px;
  }
  
  .configure-form {
    background-color: #1fc559;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    width: 30vw;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  select, button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  

  button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    background-color: #1f1f1f;
    border-radius: 10px;
    transition: color 0.2s;
    height: 50px;
    margin-bottom: 20px;
  }



button:hover {
    color: #1fc559
}

  .text-danger {
    color: #dc3545;
    font-size: 14px;
  }
  option{
    background-color: #1f1f1f;
    color: white;
  }
  select{
    background-color: #1f1f1f;
    color: white;
  }
